@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto:400);

html {
  margin: .5em 20%;
  color: #0a0a0a;
}

header {
  font-family: 'Source Sans Pro', sans-serif;

}

header h1 {
  font-size: 2em;
  border-bottom: .2em solid;
}

header p {
  font-size: 1.3em;
}


@import url(https://fonts.googleapis.com/css?family=Playfair+Display:900italic|Gentium+Basic);

.content.headline {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered {
  width: 50%;
}

.title {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  text-transform: capitalize;
  text-align: center;
}

.deck {
  width: 80%;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6em;
}

.title::after {
  display: block;
  margin: .75em auto;
  width: 100px;
  content: "";
  border-bottom: 6px solid hsl(160, 100%, 70%);
}

.deck::after {
  display: block;
  margin-top: 2em;
  text-align: center;
  content: "&";
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);

 

.gap:after {
  content: "";
  display: table;
  clear: both;
  padding-bottom: 100px;
}
